@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
[class*=__container] {
  max-width: 1170px;
  margin: 0 auto;
}
@media (max-width: 1199.98px) {
  [class*=__container] {
    max-width: 1050px;
  }
}
@media (max-width: 1089.98px) {
  [class*=__container] {
    max-width: 950px;
  }
}
@media (max-width: 990.98px) {
  [class*=__container] {
    max-width: none;
    padding: 0px 15px;
  }
}

body {
  font-family: Inter, sans-serif;
  font-weight: 400;
  color: #ffffff;
}
body.lock {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.page {
  flex: 1 1 auto;
}

.header {
  background: #0e1e5e;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 21px 0px;
}
.header__logo {
  margin-right: 10px;
}
@media (max-width: 767.8px) {
  .header__logo {
    padding-right: 25px;
  }
}
.header__logo img {
  width: 100%;
}
.header__burger {
  display: none;
}
.header__burger span {
  background-color: #fff;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  top: 9px;
  transition: all 0.3s ease 0s;
}
@media (max-width: 767.8px) {
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 3;
  }
  .header__burger::before, .header__burger::after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
}
.header__burger.active::before {
  transform: rotate(45deg);
  top: 9px;
}
.header__burger.active::after {
  transform: rotate(-45deg);
  bottom: 9px;
}
.header__burger.active span {
  transform: scale(0);
}
.header__menu {
  transition: all 0.3s ease 0s;
}
@media (max-width: 767.8px) {
  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(14, 30, 94, 0.9);
    padding: 120px 10px 20px 10px;
  }
}
.header__menu.active {
  top: 0;
}
@media (max-width: 899.8px) {
  .header__button {
    display: none;
  }
}
.menu__list {
  display: flex;
  -moz-column-gap: 46px;
       column-gap: 46px;
  row-gap: 20px;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
  flex-wrap: wrap;
}
@media (max-width: 1089.98px) {
  .menu__list {
    gap: 20px;
  }
}
@media (max-width: 889.98px) {
  .menu__list {
    padding-left: 20px;
  }
}
@media (max-width: 767.8px) {
  .menu__list {
    display: block;
    text-align: center;
  }
}
@media (max-width: 767.8px) {
  .menu__list li {
    margin: 0px 0px 30px 0px;
  }
}
.menu__link {
  font-size: 15px;
  line-height: 120%; /* 18/15 */
  text-align: center;
  color: #ffffff;
  transition: all 0.3s ease 0s;
}
.menu__link:hover {
  text-decoration: underline;
}
@media (max-width: 767.8px) {
  .menu__link {
    font-size: 20px;
  }
}

.fi {
  margin-right: 10px;
}

.lang_switcher {
  position: relative;
  color: #fff;
  margin: 0px 20px 0px 50px;
}
@media (max-width: 1199.8px) {
  .lang_switcher {
    margin: 0px 20px 0px 0px;
  }
}

.lang_current {
  position: relative;
}

.lang_current:after {
  content: "";
  width: 0px;
  height: 0px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 9px solid #fff;
  position: absolute;
  top: 9px;
  right: -20px;
  transform: translateY(-50%);
}

.lang_current:hover {
  cursor: pointer;
}

.lang_list {
  position: absolute;
  background: #fff;
  color: #000;
  border-radius: 2px;
  padding: 10px;
  margin-top: 15px;
}

.lang_option {
  margin-bottom: 10px;
  display: flex;
}

.lang_option:last-child {
  margin-bottom: 0;
}

.lang_wrapper {
  display: flex;
  justify-content: center;
}

.footer {
  background: #081f62;
}
.footer__body {
  display: flex;
  justify-content: space-between;
  padding-top: 23px;
  padding-bottom: 17px;
  flex-wrap: wrap;
}
.footer__reward {
  padding-right: 84px;
  padding-top: 30px;
}
@media (max-width: 929.8px) {
  .footer__reward {
    display: none;
  }
}
.footer__copy {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding: 2px 0px;
}
.footer__copy-text {
  font-size: 15px;
  line-height: 186.666667%; /* 28/15 */
  text-align: right;
}

.body-footer {
  gap: 15px;
}
@media (max-width: 767.8px) {
  .body-footer {
    gap: 30px;
  }
}
@media (max-width: 767.8px) {
  .body-footer__column {
    flex: 1 1 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
}
.body-footer__logo-wrap {
  padding-top: 8px;
  max-width: 280px;
}
.body-footer__subtitle {
  font-size: 16px;
  line-height: 175%; /* 28/16 */
  padding-top: 27px;
}
@media (max-width: 767.8px) {
  .body-footer__subtitle {
    text-align: center;
  }
}

.menu-footer {
  max-width: 150px;
}
.menu-footer__list {
  gap: 15px;
  display: flex;
  flex-direction: column;
}
.menu-footer__link {
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
}
.menu-footer__link:hover {
  text-decoration: underline;
}

.contacts-footer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contacts-footer a:hover {
  text-decoration: underline;
}
.contacts-footer__phone {
  display: flex;
}
.contacts-footer__adress {
  display: flex;
}
.contacts-footer__email {
  display: flex;
}
.contacts-footer__emailforsmi {
  display: flex;
}

.phone-footer {
  gap: 50px;
  justify-content: space-between;
}
.phone-footer__text {
  font-size: 15px;
  line-height: 180%; /* 27/15 */
}
.phone-footer__link {
  font-size: 16px;
  line-height: 175%; /* 28/16 */
}
.phone-footer__link a {
  color: #ffffff;
}

.adress-footer {
  gap: 50px;
  justify-content: space-between;
}
.adress-footer__text {
  font-size: 14px;
  line-height: 200%; /* 28/14 */
}
.adress-footer__link {
  pointer-events: none;
  font-size: 15px;
  line-height: 180%; /* 27/15 */
}
@media (max-width: 767.8px) {
  .adress-footer__link {
    text-align: right;
  }
}
.adress-footer__link a {
  color: #ffffff;
}

.email-footer {
  gap: 50px;
  justify-content: space-between;
}
.email-footer__text {
  font-size: 15px;
  line-height: 180%; /* 27/15 */
}
.email-footer__link {
  font-size: 16px;
  line-height: 175%; /* 28/16 */
}
.email-footer__link a {
  color: #ffffff;
}

.emailforsmi-footer {
  gap: 50px;
  justify-content: space-between;
}
.emailforsmi-footer__text {
  font-size: 16px;
  line-height: 175%; /* 28/16 */
}
.emailforsmi-footer__link {
  font-size: 16px;
  line-height: 175%; /* 28/16 */
}
.emailforsmi-footer__link a {
  color: #ffffff;
}

.page {
  background: #eff1f6;
}
.page__search {
  margin-top: 166px;
  margin-bottom: 61px;
}
@media (max-width: 767.98px) {
  .page__search {
    margin-top: 100px;
    margin-bottom: 0px;
  }
}
@media (max-width: 1023.98px) {
  .page__search {
    margin-top: 130px;
    margin-bottom: 10px;
  }
}

.search__container {
  display: flex;
  padding: 52px 64px 58px;
  background: #fbfbfb;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
}
@media (max-width: 767.98px) {
  .search__container {
    flex-wrap: wrap;
    padding: 22px 14px 28px;
  }
}
.search__body {
  flex: 1 1 50%;
  padding-right: 120px;
}
@media (max-width: 1199.98px) {
  .search__body {
    padding-right: 65px;
  }
}
@media (max-width: 1089.98px) {
  .search__body {
    flex: 1 0 60%;
  }
}
@media (max-width: 989.98px) {
  .search__body {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (max-width: 767.98px) {
  .search__body {
    justify-content: center;
    padding-right: 0px;
    margin-bottom: 20px;
  }
}
.search__text {
  font-weight: 600;
  font-size: 22px;
  line-height: 118.181818%; /* 26/22 */
  text-align: center;
  color: #081f62;
  padding-bottom: 44px;
}
.search__form {
  display: flex;
}
.search__form-input {
  background: #ffffff;
  border: 0.91939px solid #92918f;
  border-radius: 3.67756px 0px 0px 3.67756px;
  padding: 12px 18px 13px;
}
@media (max-width: 989.98px) {
  .search__form-input {
    width: 100%;
    border-radius: 3.67756px;
  }
}
.search__btn {
  text-align: center;
  color: #fbfbfb;
  font-weight: 600;
  font-size: 12.8715px;
  line-height: 129%;
  padding: 14px 83px 13px;
  background: #081f62;
  border-radius: 0px 3.67756px 3.67756px 0px;
  margin-left: -5px;
  transition: all 0.3s ease 0s;
}
.search__btn:hover {
  background: #0c2f97;
  transition: all 0.3s ease 0s;
}
@media (max-width: 989.98px) {
  .search__btn {
    width: 100%;
    margin-left: 0px;
    margin-top: 15px;
    border-radius: 3.67756px;
  }
}
@media (max-width: 767.98px) {
  .search__image {
    margin: 0 auto;
  }
}
.search__image-item img {
  max-width: 100%;
}